<?xml version="1.0"?>
<launch>

    <rosparam command="delete" param="/art/robot"/>
    <rosparam command="load" ns="/art/robot" file="$(find art_debug_arm)/config/robot.yaml"/>

    <node ns="/art/robot/" name="art_debug_arm" pkg="art_debug_arm"
        type="node.py" output="screen" respawn="false" />

</launch>